In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [5]:
df = pd.read_csv('vehicle_maintenance_data.csv')
df.head()

,Vehicle_Model,Mileage,Maintenance_History,Reported_Issues,Vehicle_Age,Fuel_Type,Transmission_Type,Engine_Size,Odometer_Reading,Last_Service_Date,Warranty_Expiry_Date,Owner_Type,Insurance_Premium,Service_History,Accident_History,Fuel_Efficiency,Tire_Condition,Brake_Condition,Battery_Status,Need_Maintenance
0,Truck,58765,Good,0,4,Electric,Automatic,2000,28524,2023-11-23,2025-06-24,Second,20782,6,3,13.622204,New,New,Weak,1
1,Van,60353,Average,1,7,Electric,Automatic,2500,133630,2023-09-21,2025-06-04,Second,23489,7,0,13.625307,New,New,Weak,1
2,Bus,68072,Poor,0,2,Electric,Automatic,1500,34022,2023-06-27,2025-04-27,First,17979,7,0,14.306302,New,Good,Weak,1
3,Bus,60849,Average,4,5,Petrol,Automatic,2500,81636,2023-08-24,2025-11-05,Second,6220,7,3,18.709467,New,Worn Out,New,1
4,Bus,45742,Poor,5,1,Petrol,Manual,2000,97162,2023-05-25,2025-09-14,Third,16446,6,2,16.977482,Good,Good,Weak,1

In [6]:
df.isna().sum()

Vehicle_Model           0
Mileage                 0
Maintenance_History     0
Reported_Issues         0
Vehicle_Age             0
Fuel_Type               0
Transmission_Type       0
Engine_Size             0
Odometer_Reading        0
Last_Service_Date       0
Warranty_Expiry_Date    0
Owner_Type              0
Insurance_Premium       0
Service_History         0
Accident_History        0
Fuel_Efficiency         0
Tire_Condition          0
Brake_Condition         0
Battery_Status          0
Need_Maintenance        0
dtype: int64

In [7]:
df.dtypes

Vehicle_Model            object
Mileage                   int64
Maintenance_History      object
Reported_Issues           int64
Vehicle_Age               int64
Fuel_Type                object
Transmission_Type        object
Engine_Size               int64
Odometer_Reading          int64
Last_Service_Date        object
Warranty_Expiry_Date     object
Owner_Type               object
Insurance_Premium         int64
Service_History           int64
Accident_History          int64
Fuel_Efficiency         float64
Tire_Condition           object
Brake_Condition          object
Battery_Status           object
Need_Maintenance          int64
dtype: object

In [9]:
non_num_cols = df.select_dtypes(include=['object']).columns
non_num_cols

Index(['Vehicle_Model', 'Maintenance_History', 'Fuel_Type',
       'Transmission_Type', 'Last_Service_Date', 'Warranty_Expiry_Date',
       'Owner_Type', 'Tire_Condition', 'Brake_Condition', 'Battery_Status'],
      dtype='object')

In [10]:
for col in non_num_cols:
  print(col , df[col].unique())
  print()

Vehicle_Model ['Truck' 'Van' 'Bus' 'Motorcycle' 'SUV' 'Car']

Maintenance_History ['Good' 'Average' 'Poor']

Fuel_Type ['Electric' 'Petrol' 'Diesel']

Transmission_Type ['Automatic' 'Manual']

Last_Service_Date ['2023-11-23' '2023-09-21' '2023-06-27' '2023-08-24' '2023-05-25'
 '2023-08-12' '2024-01-13' '2023-05-12' '2023-04-07' '2023-08-05'
 '2023-11-08' '2023-07-03' '2024-02-19' '2023-04-11' '2023-05-07'
 '2023-09-17' '2023-11-24' '2023-09-23' '2024-01-23' '2023-06-15'
 '2023-07-14' '2023-04-30' '2023-06-12' '2023-12-10' '2023-10-25'
 '2023-10-27' '2023-05-22' '2023-12-22' '2023-09-04' '2024-01-09'
 '2023-06-29' '2023-11-19' '2023-08-19' '2023-06-07' '2023-12-31'
 '2023-08-31' '2024-02-11' '2023-10-17' '2024-02-16' '2023-10-15'
 '2023-11-01' '2023-08-20' '2023-06-26' '2023-09-27' '2023-11-06'
 '2023-10-26' '2023-05-30' '2023-04-14' '2023-11-17' '2023-05-15'
 '2023-12-09' '2023-09-08' '2024-02-23' '2023-08-23' '2023-09-26'
 '2023-10-11' '2024-02-22' '2023-05-31' '2023-09-05' '2024-01-05'
 '2023-07-16' '2024-02-28' '2023-12-04' '2023-05-14' '2023-10-20'
 '2023-10-09' '2023-12-29' '2023-07-13' '2024-02-21' '2023-10-19'
 '2023-04-12' '2024-02-12' '2023-08-07' '2023-12-25' '2023-10-22'
 '2023-07-26' '2024-01-25' '2023-11-30' '2023-06-20' '2023-12-26'
 '2024-01-08' '2024-02-18' '2023-12-12' '2023-11-03' '2024-01-26'
 '2023-08-21' '2023-05-05' '2023-04-01' '2023-08-28' '2023-05-28'
 '2023-09-13' '2023-09-30' '2023-07-25' '2023-06-05' '2024-01-17'
 '2023-12-03' '2023-05-13' '2023-05-24' '2023-04-05' '2023-04-17'
 '2023-08-22' '2024-02-03' '2023-11-25' '2023-11-05' '2024-01-21'
 '2023-07-02' '2023-04-15' '2023-10-21' '2023-04-08' '2023-07-09'
 '2023-05-10' '2023-10-06' '2023-06-03' '2023-09-03' '2023-11-07'
 '2024-01-15' '2023-05-29' '2023-11-12' '2023-09-07' '2023-06-09'
 '2023-06-28' '2023-09-20' '2023-08-06' '2023-07-10' '2023-09-14'
 '2023-10-10' '2023-10-16' '2023-04-03' '2024-01-20' '2023-12-07'
 '2024-02-15' '2023-09-11' '2023-11-21' '2023-10-31' '2024-01-24'
 '2023-06-25' '2024-02-08' '2023-10-12' '2024-02-06' '2023-10-01'
 '2023-06-06' '2023-10-30' '2023-07-27' '2023-12-24' '2023-08-17'
 '2023-06-04' '2023-11-10' '2023-09-25' '2023-10-13' '2024-01-12'
 '2023-08-16' '2023-12-30' '2023-06-19' '2023-12-16' '2023-10-04'
 '2023-05-18' '2023-05-03' '2023-04-26' '2023-07-24' '2023-11-28'
 '2024-01-31' '2024-02-26' '2023-12-27' '2023-07-20' '2023-07-06'
 '2023-04-04' '2023-06-01' '2023-07-01' '2023-09-24' '2023-08-27'
 '2024-02-09' '2024-01-27' '2023-05-04' '2023-11-15' '2023-12-06'
 '2023-04-24' '2023-08-03' '2023-07-07' '2023-06-30' '2023-05-23'
 '2024-02-02' '2024-01-11' '2023-07-17' '2023-07-04' '2023-11-20'
 '2023-10-05' '2023-04-09' '2023-10-14' '2023-05-09' '2023-08-04'
 '2023-10-03' '2023-11-26' '2023-05-27' '2023-07-22' '2023-09-15'
 '2023-12-15' '2023-12-05' '2023-08-01' '2024-02-17' '2023-04-20'
 '2023-08-15' '2024-01-06' '2023-04-29' '2024-01-30' '2023-03-30'
 '2023-08-11' '2023-07-08' '2023-04-13' '2024-02-05' '2023-07-18'
 '2023-11-29' '2023-12-13' '2023-12-23' '2023-04-10' '2023-12-21'
 '2024-01-22' '2023-06-08' '2023-10-24' '2024-01-04' '2023-06-10'
 '2023-12-01' '2024-02-01' '2023-08-08' '2023-09-12' '2023-06-23'
 '2023-03-31' '2023-04-25' '2024-01-18' '2023-09-18' '2023-12-08'
 '2023-05-06' '2023-04-27' '2023-04-21' '2023-05-21' '2024-01-14'
 '2023-06-02' '2023-06-21' '2023-06-14' '2023-07-11' '2023-06-18'
 '2023-05-11' '2023-09-10' '2023-11-22' '2023-11-14' '2023-12-11'
 '2023-07-15' '2023-09-06' '2023-06-17' '2023-12-28' '2023-08-26'
 '2023-12-20' '2023-04-23' '2024-01-10' '2024-01-02' '2023-08-18'
 '2023-10-28' '2023-05-02' '2023-11-02' '2024-02-07' '2023-04-06'
 '2023-04-28' '2024-01-16' '2023-05-20' '2023-06-24' '2023-05-16'
 '2023-08-13' '2023-05-17' '2023-11-18' '2023-08-09' '2023-09-09'
 '2023-05-08' '2023-11-04' '2024-02-25' '2023-12-02' '2023-09-28'
 '2023-11-27' '2023-06-16' '2023-09-19' '2023-07-05' '2023-05-19'
 '2024-02-14' '2023-12-14' '2024-01-03' '2023-10-07' '2023-07-30'
 '2023-08-29' '2023-10-02' '2023-12-19' '2023-10-08' '2023-04-02'
 '2023-09-16' '2023-11-16' '2024-02-24' '2023-07-29' '2024-02-13'
 '2023-06-22' '2023-11-11' '2024-01-28' '2023-09-01' '2023-10-29'
 '2023-09-29' '2023-04-22' '2023-11-09' '2023-04-16' '2023-05-01'
 '2024-02-20' '2023-07-12' '2023-04-19' '2023-08-14' '2023-08-30'
 '2023-12-18' '2023-04-18' '2023-11-13' '2024-02-27' '2023-07-21'
 '2023-10-23' '2023-07-28' '2024-01-19' '2024-01-29' '2023-08-02'
 '2023-09-22' '2024-01-01' '2023-08-25' '2023-08-10' '2024-02-04'
 '2023-06-11' '2023-12-17' '2023-07-23' '2023-09-02' '2023-06-13'
 '2023-07-31' '2024-02-10' '2023-07-19' '2024-01-07' '2023-10-18'
 '2023-05-26']

Warranty_Expiry_Date ['2025-06-24' '2025-06-04' '2025-04-27' '2025-11-05' '2025-09-14'
 '2024-09-05' '2025-07-20' '2026-02-13' '2025-04-21' '2025-05-14'
 '2024-10-31' '2025-01-23' '2025-09-17' '2025-05-20' '2025-10-03'
 '2024-10-07' '2025-08-11' '2026-01-24' '2024-09-23' '2026-02-03'
 '2024-05-01' '2025-10-12' '2025-08-19' '2024-06-22' '2025-11-20'
 '2025-02-17' '2025-12-08' '2024-11-27' '2025-12-04' '2025-05-23'
 '2024-04-30' '2025-12-17' '2024-05-22' '2024-12-25' '2024-11-19'
 '2025-09-29' '2025-10-04' '2026-02-09' '2025-02-07' '2024-06-05'
 '2024-10-24' '2024-07-20' '2025-03-24' '2024-07-02' '2025-08-05'
 '2025-09-15' '2025-05-06' '2025-05-10' '2024-06-12' '2024-09-01'
 '2026-02-04' '2024-07-30' '2024-10-01' '2024-11-03' '2025-04-24'
 '2024-05-18' '2024-08-06' '2025-09-02' '2026-01-10' '2024-10-21'
 '2025-06-21' '2025-05-15' '2025-04-01' '2024-07-04' '2026-02-12'
 '2025-02-06' '2024-11-07' '2024-12-21' '2024-07-22' '2024-10-29'
 '2025-09-25' '2025-11-17' '2024-07-06' '2024-10-08' '2025-12-12'
 '2025-04-09' '2024-11-13' '2024-10-26' '2024-08-14' '2026-01-23'
 '2024-10-22' '2025-04-28' '2025-03-07' '2024-10-18' '2026-01-21'
 '2025-06-12' '2024-08-23' '2024-11-01' '2024-06-04' '2025-08-21'
 '2025-03-31' '2026-01-18' '2024-12-08' '2024-09-02' '2025-03-08'
 '2025-08-03' '2025-02-21' '2024-06-20' '2024-06-03' '2025-12-02'
 '2024-09-24' '2024-07-28' '2024-05-11' '2025-11-18' '2026-02-28'
 '2025-02-14' '2025-07-18' '2024-10-28' '2025-09-04' '2025-03-10'
 '2026-03-22' '2024-05-07' '2024-06-21' '2025-05-07' '2024-12-28'
 '2025-06-25' '2025-01-16' '2026-03-25' '2024-12-01' '2025-10-10'
 '2024-05-15' '2025-11-06' '2026-01-25' '2024-09-03' '2024-12-12'
 '2024-06-30' '2024-08-13' '2024-10-30' '2024-09-25' '2024-08-30'
 '2026-01-14' '2025-12-22' '2024-08-09' '2025-03-01' '2026-01-13'
 '2026-03-15' '2025-07-12' '2025-04-14' '2024-12-07' '2025-01-07'
 '2026-02-26' '2025-11-04' '2024-05-17' '2025-01-04' '2025-07-11'
 '2026-02-18' '2025-12-05' '2025-11-24' '2024-05-13' '2025-04-30'
 '2024-05-09' '2024-11-11' '2024-07-25' '2025-08-06' '2026-03-18'
 '2025-04-20' '2024-12-16' '2026-01-30' '2025-06-05' '2024-10-06'
 '2025-03-02' '2025-07-07' '2026-03-17' '2025-07-16' '2025-09-28'
 '2024-12-09' '2025-03-30' '2025-05-30' '2024-06-16' '2024-10-15'
 '2025-02-18' '2024-07-31' '2025-01-02' '2025-10-16' '2024-08-29'
 '2025-02-19' '2024-06-01' '2025-09-16' '2024-12-13' '2025-04-06'
 '2026-01-09' '2026-02-15' '2025-11-12' '2026-03-20' '2026-01-27'
 '2025-06-09' '2025-07-24' '2025-08-24' '2024-05-16' '2024-12-26'
 '2025-07-15' '2025-05-13' '2025-02-25' '2025-01-13' '2025-08-07'
 '2025-12-16' '2025-11-15' '2025-03-17' '2025-03-19' '2024-10-05'
 '2025-02-27' '2025-06-26' '2026-01-12' '2025-10-15' '2026-02-08'
 '2025-10-18' '2024-05-28' '2026-01-04' '2025-08-09' '2025-03-29'
 '2024-08-11' '2024-10-12' '2024-06-13' '2024-05-24' '2026-03-19'
 '2025-08-14' '2024-08-24' '2024-10-13' '2024-11-02' '2025-11-11'
 '2024-09-20' '2025-04-19' '2025-04-25' '2024-10-11' '2025-01-09'
 '2025-09-23' '2025-10-22' '2025-06-10' '2024-09-15' '2024-08-20'
 '2025-01-27' '2025-10-08' '2026-02-11' '2024-05-29' '2024-08-27'
 '2025-03-06' '2024-07-21' '2025-05-12' '2024-11-22' '2025-12-03'
 '2026-02-16' '2024-05-10' '2026-03-27' '2025-03-14' '2024-11-12'
 '2024-10-20' '2025-11-03' '2025-02-24' '2024-12-23' '2025-10-21'
 '2025-01-15' '2025-06-01' '2025-01-03' '2024-06-26' '2026-03-13'
 '2024-05-25' '2024-10-17' '2025-05-03' '2024-06-25' '2026-01-15'
 '2025-03-05' '2024-10-23' '2024-07-18' '2025-12-29' '2024-06-06'
 '2025-01-25' '2024-08-15' '2024-09-17' '2025-07-02' '2025-10-30'
 '2025-02-22' '2025-04-02' '2026-01-17' '2025-05-25' '2025-05-21'
 '2025-01-11' '2025-08-13' '2025-09-09' '2026-03-23' '2025-03-12'
 '2024-07-07' '2025-08-10' '2024-11-14' '2025-11-22' '2024-12-06'
 '2025-01-18' '2024-07-08' '2025-05-29' '2024-12-17' '2025-03-27'
 '2025-01-21' '2024-05-23' '2025-06-15' '2025-06-08' '2025-10-07'
 '2025-11-30' '2024-08-01' '2025-10-02' '2024-06-19' '2025-03-25'
 '2024-05-08' '2025-02-23' '2024-11-17' '2024-09-26' '2025-03-13'
 '2025-01-19' '2025-11-27' '2024-05-26' '2025-10-20' '2025-06-18'
 '2025-08-12' '2025-08-08' '2026-03-16' '2024-09-19' '2025-06-06'
 '2024-12-20' '2025-12-25' '2025-07-17' '2026-03-06' '2025-09-21'
 '2024-05-12' '2025-12-21' '2024-07-16' '2024-07-12' '2025-03-09'
 '2024-09-28' '2024-12-29' '2025-01-30' '2026-01-02' '2025-06-02'
 '2025-06-28' '2026-03-03' '2026-01-01' '2024-08-10' '2024-06-28'
 '2025-01-01' '2025-06-23' '2025-03-28' '2024-07-14' '2024-07-26'
 '2025-11-16' '2025-05-08' '2025-04-26' '2025-06-27' '2025-08-30'
 '2025-12-18' '2025-12-11' '2026-01-28' '2024-07-01' '2025-08-26'
 '2024-09-12' '2024-09-30' '2024-09-16' '2025-04-10' '2025-01-29'
 '2024-04-28' '2025-12-23' '2025-08-27' '2025-11-08' '2025-09-10'
 '2025-07-23' '2024-08-12' '2026-01-07' '2025-02-05' '2025-11-10'
 '2025-06-30' '2024-10-03' '2024-11-26' '2025-07-31' '2025-10-13'
 '2025-06-19' '2025-04-08' '2024-12-03' '2025-11-23' '2025-05-19'
 '2025-09-12' '2025-09-11' '2025-05-16' '2024-05-05' '2026-02-17'
 '2025-04-29' '2025-12-28' '2026-03-09' '2025-04-04' '2024-06-09'
 '2025-03-11' '2024-05-02' '2024-08-19' '2025-10-26' '2025-04-13'
 '2025-06-22' '2024-10-09' '2024-12-10' '2026-03-07' '2025-08-15'
 '2024-11-08' '2025-02-09' '2025-03-18' '2025-04-05' '2026-02-06'
 '2026-02-22' '2025-11-19' '2024-11-24' '2025-08-01' '2025-10-09'
 '2024-11-30' '2024-11-16' '2025-06-17' '2025-12-10' '2025-07-01'
 '2026-03-08' '2025-12-13' '2025-05-04' '2025-07-19' '2024-08-22'
 '2026-02-19' '2025-09-05' '2025-02-01' '2025-01-24' '2024-12-22'
 '2025-08-02' '2025-10-14' '2025-04-12' '2026-01-22' '2024-10-14'
 '2025-02-04' '2025-08-20' '2025-02-28' '2024-07-24' '2025-02-03'
 '2024-06-18' '2024-11-23' '2025-03-23' '2026-03-14' '2025-01-20'
 '2025-01-14' '2025-10-11' '2025-01-28' '2026-01-16' '2025-08-17'
 '2025-12-31' '2025-03-16' '2024-11-10' '2025-07-08' '2024-11-29'
 '2024-12-14' '2025-05-11' '2024-09-13' '2025-01-17' '2024-08-28'
 '2025-11-13' '2024-07-23' '2024-05-20' '2024-11-25' '2024-12-04'
 '2025-02-13' '2025-03-20' '2025-08-25' '2025-06-13' '2024-11-20'
 '2025-04-23' '2024-08-16' '2025-02-02' '2024-12-05' '2025-10-31'
 '2024-09-06' '2025-12-01' '2025-11-21' '2024-05-21' '2026-01-19'
 '2025-11-28' '2025-09-24' '2025-06-07' '2025-03-21' '2026-01-26'
 '2024-11-04' '2025-09-13' '2025-11-01' '2024-08-02' '2025-07-13'
 '2024-06-08' '2025-10-29' '2025-05-22' '2024-09-08' '2026-01-05'
 '2024-11-28' '2026-02-21' '2024-09-11' '2026-02-25' '2025-09-08'
 '2024-09-07' '2026-03-26' '2025-07-03' '2025-05-26' '2025-03-26'
 '2024-11-09' '2025-08-16' '2024-09-22' '2026-01-06' '2025-09-19'
 '2026-01-03' '2026-03-21' '2025-07-26' '2026-03-04' '2025-11-09'
 '2025-01-08' '2025-10-05' '2025-11-02' '2026-02-27' '2024-08-03'
 '2025-08-22' '2025-12-09' '2024-08-26' '2024-05-04' '2025-04-17'
 '2025-06-16' '2024-06-15' '2025-02-11' '2025-09-22' '2025-03-04'
 '2025-06-03' '2025-05-05' '2025-10-06' '2025-04-15' '2024-05-27'
 '2025-12-26' '2024-07-27' '2024-07-09' '2024-10-25' '2025-04-03'
 '2024-08-05' '2024-06-07' '2025-02-15' '2024-10-16' '2024-06-24'
 '2026-01-20' '2025-05-09' '2024-08-07' '2025-05-17' '2025-07-25'
 '2025-05-02' '2024-12-31' '2024-05-06' '2025-10-24' '2025-01-26'
 '2024-05-19' '2024-06-11' '2025-11-29' '2024-07-17' '2026-02-05'
 '2025-12-15' '2024-06-27' '2024-09-14' '2024-06-10' '2024-07-10'
 '2025-12-30' '2024-12-24' '2025-12-06' '2025-02-10' '2025-03-22'
 '2025-01-12' '2024-11-05' '2025-09-27' '2024-10-27' '2025-12-19'
 '2025-02-20' '2026-03-02' '2025-07-06' '2026-01-29' '2025-11-14'
 '2024-05-03' '2025-09-06' '2025-10-23' '2026-02-20' '2025-09-30'
 '2024-11-06' '2024-09-04' '2024-06-02' '2026-03-29' '2025-05-31'
 '2024-07-15' '2025-10-01' '2025-12-24' '2025-05-28' '2025-07-27'
 '2024-08-17' '2024-07-05' '2024-12-19' '2024-08-31' '2026-03-12'
 '2025-06-29' '2025-04-18' '2025-06-14' '2025-08-23' '2024-06-14'
 '2025-08-18' '2024-04-29' '2025-02-26' '2024-09-27' '2024-07-03'
 '2024-08-04' '2024-10-02' '2025-07-04' '2026-02-24' '2025-08-29'
 '2026-02-23' '2024-12-15' '2025-04-16' '2025-04-22' '2024-10-04'
 '2025-12-27' '2025-07-14' '2025-11-07' '2024-09-10' '2025-01-06'
 '2025-10-25' '2025-10-19' '2026-02-10' '2025-07-29' '2025-11-25'
 '2024-06-23' '2024-07-29' '2025-10-17' '2025-02-16' '2024-09-21'
 '2024-12-30' '2024-05-30' '2025-04-11' '2025-05-01' '2025-01-10'
 '2024-05-31' '2025-05-24' '2026-02-01' '2026-01-08' '2025-07-21'
 '2025-02-12' '2024-10-10' '2024-09-18' '2025-03-03' '2025-08-04'
 '2025-09-03' '2024-09-29' '2024-07-13' '2025-07-09' '2025-04-07'
 '2025-01-22' '2026-01-31' '2025-09-07' '2024-12-02' '2024-08-25'
 '2024-10-19' '2025-05-18' '2026-02-02' '2025-07-05' '2025-12-14'
 '2024-08-18' '2026-03-10' '2024-11-18' '2024-12-27' '2024-12-18'
 '2024-12-11' '2025-08-31' '2025-06-11' '2025-12-07' '2025-08-28'
 '2026-03-24' '2026-02-07' '2025-07-22' '2024-09-09' '2026-03-28'
 '2025-09-20' '2025-12-20' '2025-10-28' '2025-09-18' '2025-10-27'
 '2024-05-14' '2026-03-11' '2024-08-21' '2025-06-20' '2025-07-30'
 '2025-05-27' '2025-02-08' '2025-07-28' '2024-06-29' '2024-07-19'
 '2024-07-11' '2025-09-01' '2025-01-05' '2026-03-01' '2025-03-15'
 '2026-02-14' '2024-11-15' '2025-11-26' '2025-07-10' '2024-06-17'
 '2024-11-21' '2026-03-05' '2024-08-08' '2026-01-11' '2025-09-26'
 '2025-01-31']

Owner_Type ['Second' 'First' 'Third']

Tire_Condition ['New' 'Good' 'Worn Out']

Brake_Condition ['New' 'Good' 'Worn Out']

Battery_Status ['Weak' 'New' 'Good']

In [20]:
#Label encoding - Maintenance_History, Transmission_Type, Owner_Type, Tire_Condition, Brake_Condition, Battery_Status
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['Maintenance_History']=le.fit_transform(df['Maintenance_History'])
df['Transmission_Type']=le.fit_transform(df['Transmission_Type'])
df['Owner_Type']=le.fit_transform(df['Owner_Type'])
df['Tire_Condition']=le.fit_transform(df['Tire_Condition'])
df['Brake_Condition']=le.fit_transform(df['Brake_Condition'])
df['Battery_Status']=le.fit_transform(df['Battery_Status'])
df.head(10)

,Vehicle_Model,Mileage,Maintenance_History,Reported_Issues,Vehicle_Age,Fuel_Type,Transmission_Type,Engine_Size,Odometer_Reading,Last_Service_Date,Warranty_Expiry_Date,Owner_Type,Insurance_Premium,Service_History,Accident_History,Fuel_Efficiency,Tire_Condition,Brake_Condition,Battery_Status,Need_Maintenance
0,Truck,58765,1,0,4,Electric,2,2000,28524,2023-11-23,2025-06-24,1,20782,6,3,13.622204,1,1,2,1
1,Van,60353,0,1,7,Electric,2,2500,133630,2023-09-21,2025-06-04,1,23489,7,0,13.625307,1,1,2,1
2,Bus,68072,2,0,2,Electric,2,1500,34022,2023-06-27,2025-04-27,0,17979,7,0,14.306302,1,0,2,1
3,Bus,60849,0,4,5,Petrol,1,2500,81636,2023-08-24,2025-11-05,1,6220,7,3,18.709467,1,2,1,1
4,Bus,45742,2,5,1,Petrol,2,2000,97162,2023-05-25,2025-09-14,2,16446,6,2,16.977482,0,0,2,1
5,Truck,31653,0,2,1,Diesel,1,800,70954,2023-08-12,2024-09-05,2,16813,5,3,15.954422,2,0,1,0
6,Motorcycle,51211,0,2,8,Diesel,1,2500,145563,2024-01-13,2025-07-20,1,21057,10,0,16.455703,1,0,1,0
7,Van,79093,2,2,2,Petrol,1,2000,132354,2023-05-12,2026-02-13,0,6498,3,1,12.128404,0,1,1,1
8,SUV,59673,1,2,6,Electric,2,800,85733,2023-04-07,2025-04-21,0,12787,9,1,11.558027,2,0,2,1
9,Bus,37001,1,2,9,Diesel,1,1500,8554,2023-08-05,2025-05-14,2,20860,9,1,12.787248,2,1,1,0

In [12]:
df['Last_Service_Date'] = pd.to_datetime(df['Last_Service_Date'])
df['Warranty_Expiry_Date'] = pd.to_datetime(df['Warranty_Expiry_Date'])

In [13]:
df.dtypes

Vehicle_Model                   object
Mileage                          int64
Maintenance_History             object
Reported_Issues                  int64
Vehicle_Age                      int64
Fuel_Type                       object
Transmission_Type               object
Engine_Size                      int64
Odometer_Reading                 int64
Last_Service_Date       datetime64[ns]
Warranty_Expiry_Date    datetime64[ns]
Owner_Type                      object
Insurance_Premium                int64
Service_History                  int64
Accident_History                 int64
Fuel_Efficiency                float64
Tire_Condition                  object
Brake_Condition                 object
Battery_Status                  object
Need_Maintenance                 int64
dtype: object

In [42]:
#One hot encoding - Vehicle_Model , Fuel_Type
from sklearn.preprocessing import OneHotEncoder
encoder=OneHotEncoder()
encoded=encoder.fit_transform(df[['Fuel_Type','Vehicle_Model']])

type(encoded)

scipy.sparse._csr.csr_matrix

In [ ]:
#Features(X) - all except Need_Maintenance
#Target(y) - Need_Maintenance
X=df.drop(['Need_Maintenance'],axis=1)
y=df['Need_Maintenance']

In [46]:
# encode categorical columns
encoder=OneHotEncoder()
encoded=encoder.fit_transform(X[['Fuel_Type','Vehicle_Model']])
encoded_df=pd.DataFrame(
  encoded,
  columns=encoder.get_feature_names_out(['Fuel_Type', 'Vehicle_Model'])
)

X = X.drop(columns=['Fuel_Type'])
X = pd.concat([X.reset_index(drop=True), encoded_df], axis=1)

ValueError: Shape of passed values is (50000, 1), indices imply (50000, 9)

In [34]:
#Train test split
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [36]:
df

,Vehicle_Model,Mileage,Maintenance_History,Reported_Issues,Vehicle_Age,Fuel_Type,Transmission_Type,Engine_Size,Odometer_Reading,Last_Service_Date,Warranty_Expiry_Date,Owner_Type,Insurance_Premium,Service_History,Accident_History,Fuel_Efficiency,Tire_Condition,Brake_Condition,Battery_Status,Need_Maintenance
0,Truck,58765,1,0,4,Electric,2,2000,28524,2023-11-23,2025-06-24,1,20782,6,3,13.622204,1,1,2,1
1,Van,60353,0,1,7,Electric,2,2500,133630,2023-09-21,2025-06-04,1,23489,7,0,13.625307,1,1,2,1
2,Bus,68072,2,0,2,Electric,2,1500,34022,2023-06-27,2025-04-27,0,17979,7,0,14.306302,1,0,2,1
3,Bus,60849,0,4,5,Petrol,1,2500,81636,2023-08-24,2025-11-05,1,6220,7,3,18.709467,1,2,1,1
4,Bus,45742,2,5,1,Petrol,2,2000,97162,2023-05-25,2025-09-14,2,16446,6,2,16.977482,0,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,Car,77229,1,3,6,Diesel,2,2500,97404,2023-11-24,2025-09-15,2,5217,4,1,10.357298,1,0,2,1
49996,Truck,54742,1,4,4,Diesel,0,800,13421,2023-07-14,2025-01-21,1,15856,4,1,14.924022,2,1,0,1
49997,Van,75601,2,0,4,Electric,2,1500,124851,2023-09-09,2024-11-09,0,6019,10,0,19.859243,2,2,2,1
49998,Car,66181,1,1,7,Electric,2,2500,103182,2023-08-26,2025-05-22,2,5030,4,3,10.720555,1,0,2,1
49999,Car,71605,2,0,10,Petrol,0,2000,65721,2023-07-25,2024-06-06,2,9171,6,3,16.328945,0,1,0,0

In [35]:
#import algo - logistic regression
#Train model (.fit())
#Predict on test set
#evaluate - classification report, confusion matrix, accuracy score

model=LogisticRegression()
model.fit(X_train,y_train)

ValueError: could not convert string to float: 'Car'

In [ ]:
#import algo - decision tree

#Train model (.fit())

#Predict on test set

#evaluate - classification report, confusion matrix, accuracy score

In [ ]:
#Save the model using joblib or pickle
#joblib.dump(logistic_model, 'logistic_model.pkl')